<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ page.title }} - FOSSASIA 2010 Conference</title>
	<!-- core CSS -->
	<link href="bootstrap.min.css" rel="stylesheet">
	<link href="font-awesome.min.css" rel="stylesheet">
	<link href="animate.min.css" rel="stylesheet">
	<link href="prettyPhoto.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
	<link href="responsive.css" rel="stylesheet">   
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){

		$('.scrollToTop').click(function(){
			$('html, body').animate({scrollTop : 0},800);
			return false;
		});

	})
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="preload_bg"><div id="loading_logo" style="margin-left: 50%; margin-right: 50%; left: -55px; position: fixed; margin-top: 180px;"></div><div class="loading_ani"></div></div>

<script>
$(window).load(function(){
	$('.preload_bg').fadeOut();
	}
)
</script>

<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<header id="header">
		<div class="top-bar">
		</div><!--/.top-bar-->

		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img id="logo" src="images/fever_logo.png" alt="logo"></a>
				</div>
				
				<div class="collapse navbar-collapse navbar-right" id="navibar">
					<ul class="nav navbar-nav">
						<li><a href="index.html">Home</a></li>
						<li><a href="hotels_and_accommodation.html">Hotels & Accommodation</a></li>
						<li><a href="whos_coming.html">Who's coming</a></li>
						<li><a href="location.html">Location</a></li>
						<li><a href="venue.html">Venue</a></li>
						<li class="dropdown">
                            <a href="schedule.html" class="dropdown-toggle" data-toggle="dropdown">Schedule<!--<i class="fa fa-angle-down"></i>--></a>
                            <ul class="dropdown-menu">
                                <li><a href="minidebconf.html">MiniDebConf</a></li>
                                <li><a href="unconference.html">UnConference</a></li>
                            </ul>
                        </li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact</a></li>                    
					</ul>
				</div>
			</div><!--/.container-->
		</nav><!--/nav-->
		
	</header><!--/header-->
	<div class="container">
		<div class="row">
			<div class="responsive">
				<div class="col-md-12" style="background-color: lightgray;padding-top:10px">
